/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$font-stack:    Raleway, sans-serif;

@mixin footer-head {
	width: 100%;
	margin-top: 10px;
	font-family: $font-stack;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

@mixin clr {
  &:after {
    content: " ";
    display: table;
    clear: both;
    *zoom: 1;
  }
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.wripper {
	width: 1900px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.header {
	height: 750px;
	background-image: url("../img/header_bg.jpg");
	background-size: cover;
	background-position: 50% 50%;
}

.header-top {
	height: 100px;
	width: 1170px;
	margin: 0 auto;
	@include clr;
}

.logo {
	width: 200px;
	height: 100%;
	position: relative;
	float: left;
}

.logo-pic {
	position: absolute;
	margin: auto;
	top: 0;
	right: 100%;
	bottom: 0;
	left: 0;
}

.navigation {
	width: 600px;
	height: 100%;
	float: right;
}
.menu-list {
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: 600px;
	height:100%;
	text-align: justify;
}

.menu-item {
	display: inline-block;
	vertical-align: middle;

	&:first-child {
		margin-left: 10px;
	}
}

.item-link {
		color: #D8D8DC;
		text-decoration: none;
		font-family: $font-stack;
		font-weight: bold;
		font-size: 17px;
		text-transform: uppercase;
}

.header-bottom {
	height: 100%;
}

.header-head {
		width: 870px;
		margin: 0 auto;
		margin-top: 150px;
		font-family: Open Sans, sans-serif;
		font-size: 64px;
		font-weight: bold;
		color: #FFFFFF;
		line-height: 70px;
		text-transform: uppercase;
		vertical-align: middle;
		text-align: center;
}

.header-description {
		width: 920px;
		margin: 0 auto;
		margin-top: 20px;
		font-family: $font-stack;
		font-size: 21px;
		font-weight: normal;
		color: #FFFFFF;
		line-height: 35px;
		vertical-align: middle;
		text-align: center;
}

.header-button {
		width: 200px;
		height: 45px;
		display: block;
		margin: 0 auto;
		margin-top: 70px;
		background-color: #E84545;
		border: none;
		border-radius: 5px;
		font-family: $font-stack;
		font-weight: 500;
		color: #FFFFFF;
		text-transform: uppercase;
}

.features {
	width: 1170px;
	margin: 0 auto;
	margin-top: 110px;
	margin-bottom: 115px;
	@include clr;
}

.features-item {
	width: 390px;
	height: 205px;
	float: left;

	&:nth-last-child(n-3) {
		margin-top: 65px;
	}
}

.features-icon {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.features-head {
	width: 100%;
	margin-top: 35px;
	font-family: $font-stack;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.features-description {
	width: 300px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: $font-stack;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	opacity: 0.6;
}

.works {
	margin-top: 120px;
	@include clr;
}

.work-item {
	position: relative;
	width: 473px;
	height: 335px;
	margin-left: 2px;
	float: left;
	background-size: cover;
	background-position: 50% 50%;

	&:nth-child(1) {
		margin-left: o;
		background-image: url("../img/works/img1.jpg");
	}

	&:nth-child(2) {
		background-image: url("../img/works/img2.jpg");
	}

	&:nth-child(3) {
		background-image: url("../img/works/img3.jpg");
	}

	&:nth-child(4) {
		margin-left: o;
		background-image: url("../img/works/img4.jpg");
	}

	&:nth-child(5) {
		background-image: url("../img/works/img5.jpg");
	}

	&:nth-child(6) {
		background-image: url("../img/works/img6.jpg");
	}

	&:nth-child(7) {
		background-image: url("../img/works/img7.jpg");
	}

	&:nth-child(8) {
		background-image: url("../img/works/img8.jpg");
	}

	&:nth-child(n+5) {
		margin-top: 2px;
		margin-bottom: 2px;
	}

	&:hover {
		.work-item-nover {
			visibility: visible;
		}
	}
}

.work-item-nover {
	width: 473px;
	height: 335px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: #E85350;
	opacity: 0.9;
	visibility: hidden;
}

.work-head {
	width: 100%;
	margin-top: 155px;
	font-family: $font-stack;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}

.work-description {
	width: 100%;
	margin-top: 15px;
	font-family: $font-stack;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	opacity: 0.7;
}

.footer-top {
	height: 250px;
	background-color:#3A3E64;
}

.footer-bottom {
	width: 100%;
	height: 95px;
	background-color: #313454;
	text-align: center;

}

.footer-top-conteiner {
	width: 1170px;
	margin: 0 auto;
	@include clr;
}

.location {
	margin-top: 60px;
	margin-left: 100px;
	width: 230px;
	float: left;
}

.share {
	margin-top: 60px;
	margin-left: 170px;
	width: 200px;
	float: left;
}

.about {
	margin-top: 60px;
	margin-left: 100px;
	width: 350px;
	float: left;
}

.location-head {
	@include footer-head;
}

.address {
	width: 150px;
	margin: 0 auto;
	margin-top: 15px;
	font-family: $font-stack;
	font-weight: normal;
	font-size: 13px;
	line-height: 25px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	opacity: 0.7;
}

.share-head {
	@include footer-head;
}

.share-box {
	display: flex;
	justify-content:center;
	margin-top: 20px;
}

.about-head {
	@include footer-head;
}

.about-description {
	margin: 0 auto;
	margin-top: 15px;
	width: 335px;
	font-family: $font-stack;
	font-weight: normal;
	font-size: 13px;
	line-height: 25px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	opacity: 0.7;
}

.footer-conteiner {
	display: flex;
	align-items:center;
	justify-content:center;
	height: 95px;
	width: 370px;
	margin: 0 auto;
}

.info {
	display: inline;
	font-family: $font-stack;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0.4;
}

.autor {
	display: inline-block;
	font-family: $font-stack;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
}

.empty {
	height: 345px;
}

.footer {
	position: relative;
	margin: 0 auto;
	margin-top: -345px;
	width: 1900px;
	max-height: 345px;
}