/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 31, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 35, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 40, ../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 45, ../sass/screen.scss */
.wripper {
  width: 1900px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* line 53, ../sass/screen.scss */
.header {
  height: 750px;
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* line 60, ../sass/screen.scss */
.header-top {
  height: 100px;
  width: 1170px;
  margin: 0 auto;
}
/* line 23, ../sass/screen.scss */
.header-top:after {
  content: " ";
  display: table;
  clear: both;
  *zoom: 1;
}

/* line 67, ../sass/screen.scss */
.logo {
  width: 200px;
  height: 100%;
  position: relative;
  float: left;
}

/* line 74, ../sass/screen.scss */
.logo-pic {
  position: absolute;
  margin: auto;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
}

/* line 83, ../sass/screen.scss */
.navigation {
  width: 600px;
  height: 100%;
  float: right;
}

/* line 88, ../sass/screen.scss */
.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 100%;
  text-align: justify;
}

/* line 97, ../sass/screen.scss */
.menu-item {
  display: inline-block;
  vertical-align: middle;
}
/* line 101, ../sass/screen.scss */
.menu-item:first-child {
  margin-left: 10px;
}

/* line 106, ../sass/screen.scss */
.item-link {
  color: #D8D8DC;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

/* line 115, ../sass/screen.scss */
.header-bottom {
  height: 100%;
}

/* line 119, ../sass/screen.scss */
.header-head {
  width: 870px;
  margin: 0 auto;
  margin-top: 150px;
  font-family: Open Sans, sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 70px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

/* line 133, ../sass/screen.scss */
.header-description {
  width: 920px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: Raleway, sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
}

/* line 146, ../sass/screen.scss */
.header-button {
  width: 200px;
  height: 45px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #E84545;
  border: none;
  border-radius: 5px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* line 161, ../sass/screen.scss */
.features {
  width: 1170px;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 115px;
}
/* line 23, ../sass/screen.scss */
.features:after {
  content: " ";
  display: table;
  clear: both;
  *zoom: 1;
}

/* line 169, ../sass/screen.scss */
.features-item {
  width: 390px;
  height: 205px;
  float: left;
}
/* line 174, ../sass/screen.scss */
.features-item:nth-last-child(n-3) {
  margin-top: 65px;
}

/* line 179, ../sass/screen.scss */
.features-icon {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

/* line 185, ../sass/screen.scss */
.features-head {
  width: 100%;
  margin-top: 35px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

/* line 196, ../sass/screen.scss */
.features-description {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.6;
}

/* line 210, ../sass/screen.scss */
.works {
  margin-top: 120px;
}
/* line 23, ../sass/screen.scss */
.works:after {
  content: " ";
  display: table;
  clear: both;
  *zoom: 1;
}

/* line 215, ../sass/screen.scss */
.work-item {
  position: relative;
  width: 473px;
  height: 335px;
  margin-left: 2px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 224, ../sass/screen.scss */
.work-item:nth-child(1) {
  margin-left: o;
  background-image: url("../img/works/img1.jpg");
}
/* line 229, ../sass/screen.scss */
.work-item:nth-child(2) {
  background-image: url("../img/works/img2.jpg");
}
/* line 233, ../sass/screen.scss */
.work-item:nth-child(3) {
  background-image: url("../img/works/img3.jpg");
}
/* line 237, ../sass/screen.scss */
.work-item:nth-child(4) {
  margin-left: o;
  background-image: url("../img/works/img4.jpg");
}
/* line 242, ../sass/screen.scss */
.work-item:nth-child(5) {
  background-image: url("../img/works/img5.jpg");
}
/* line 246, ../sass/screen.scss */
.work-item:nth-child(6) {
  background-image: url("../img/works/img6.jpg");
}
/* line 250, ../sass/screen.scss */
.work-item:nth-child(7) {
  background-image: url("../img/works/img7.jpg");
}
/* line 254, ../sass/screen.scss */
.work-item:nth-child(8) {
  background-image: url("../img/works/img8.jpg");
}
/* line 258, ../sass/screen.scss */
.work-item:nth-child(n+5) {
  margin-top: 2px;
  margin-bottom: 2px;
}
/* line 264, ../sass/screen.scss */
.work-item:hover .work-item-nover {
  visibility: visible;
}

/* line 270, ../sass/screen.scss */
.work-item-nover {
  width: 473px;
  height: 335px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #E85350;
  opacity: 0.9;
  visibility: hidden;
}

/* line 284, ../sass/screen.scss */
.work-head {
  width: 100%;
  margin-top: 155px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

/* line 296, ../sass/screen.scss */
.work-description {
  width: 100%;
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
}

/* line 308, ../sass/screen.scss */
.footer-top {
  height: 250px;
  background-color: #3A3E64;
}

/* line 313, ../sass/screen.scss */
.footer-bottom {
  width: 100%;
  height: 95px;
  background-color: #313454;
  text-align: center;
}

/* line 321, ../sass/screen.scss */
.footer-top-conteiner {
  width: 1170px;
  margin: 0 auto;
}
/* line 23, ../sass/screen.scss */
.footer-top-conteiner:after {
  content: " ";
  display: table;
  clear: both;
  *zoom: 1;
}

/* line 327, ../sass/screen.scss */
.location {
  margin-top: 60px;
  margin-left: 100px;
  width: 230px;
  float: left;
}

/* line 334, ../sass/screen.scss */
.share {
  margin-top: 60px;
  margin-left: 170px;
  width: 200px;
  float: left;
}

/* line 341, ../sass/screen.scss */
.about {
  margin-top: 60px;
  margin-left: 100px;
  width: 350px;
  float: left;
}

/* line 348, ../sass/screen.scss */
.location-head {
  width: 100%;
  margin-top: 10px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

/* line 352, ../sass/screen.scss */
.address {
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
}

/* line 366, ../sass/screen.scss */
.share-head {
  width: 100%;
  margin-top: 10px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

/* line 370, ../sass/screen.scss */
.share-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* line 376, ../sass/screen.scss */
.about-head {
  width: 100%;
  margin-top: 10px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

/* line 380, ../sass/screen.scss */
.about-description {
  margin: 0 auto;
  margin-top: 15px;
  width: 335px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  opacity: 0.7;
}

/* line 394, ../sass/screen.scss */
.footer-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  width: 370px;
  margin: 0 auto;
}

/* line 403, ../sass/screen.scss */
.info {
  display: inline;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.4;
}

/* line 413, ../sass/screen.scss */
.autor {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

/* line 423, ../sass/screen.scss */
.empty {
  height: 345px;
}

/* line 427, ../sass/screen.scss */
.footer {
  position: relative;
  margin: 0 auto;
  margin-top: -345px;
  width: 1900px;
  max-height: 345px;
}
